/* _button */
button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-width: 0;
  border-color: initial;
  border-image: initial;

  height: 40px;

  font-family: "Noto Sans KR", "Open Sans";
  text-align: center;
  box-sizing: border-box;
}
