/* _reset */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1;
  letter-spacing: -0.032rem;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
html {
  height: 100%;
}
html,
body {
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}
body {
  scroll-behavior: smooth;
}

fieldset,
img {
  border: 0 none;
}
img,
input,
a,
button,
label {
  vertical-align: middle;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
  word-break: keep-all;
}
a {
  text-decoration: none;
  color: inherit;
}

/* 목록 및 인용 */
ol,
ul,
dl,
li {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}

/* input */
input,
textarea,
select {
  font-size: inherit;
  font-family: inherit;
  border: 1px solid #ddd;
  border-radius: 0;
  background-color: #fff;
}

input,
button,
select {
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select::-ms-expand {
  display: none;
}

button {
  border: 0;
  background: none;
  cursor: pointer; /*outline:none;*/
  overflow: hidden;
}
button:disabled {
  cursor: default;
}

input[type="text"]::-ms-clear {
  display: none;
} /*input의 x 버튼 제거 for IE */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="number"] {
  text-indent: 10px;
}
input[type="text"][readonly],
input[type="password"][readonly],
input[type="email"][readonly],
input[type="tel"][readonly],
input[type="number"][readonly] {
  background: #eee;
  color: #888;
}
input[type="password"] {
  font-family: pass;
}

textarea {
  resize: none;
  box-shadow: none;
}

body,
html {
  overflow: auto;
}

/*form*/
/* reset */

/* croos-bowsing */
::-webkit-input-placeholder {
  font-family: "Noto Sans KR", "Open Sans";
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.2px;
  color: #fff;
  text-align: left;
}

/*Chrome,Opera,Safari*/
::-moz-placeholder {
  font-family: "Noto Sans KR", "Open Sans";
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.2px;
  color: #fff;
  text-align: left;
}

/*Firefox 19+*/
:-moz-placeholder {
  font-family: "Noto Sans KR", "Open Sans";
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.2px;
  color: #fff;
  text-align: left;
}

/*Firefox 18-*/
.ac::-webkit-input-placeholder {
  text-align: left;
}

/*Chrome,Opera,Safari*/
.ac::-moz-placeholder {
  text-align: left;
}

/*Firefox 19+*/
.ac:-mozplaceholder {
  text-align: left;
}

/*scrollbar*/
// ::-webkit-scrollbar {
//   width: 16px;
//   background-color: #fff;
// }

// ::-webkit-scrollbar-track {
//   background: transparent;
// }

// ::-webkit-scrollbar-thumb {
//   background-color: #014df9;
//   border: 4px solid #000;
// }
