/* _reset */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1;
  letter-spacing: -0.032rem;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
html {
  height: 100%;
}
html,
body {
  // font-size: 16px;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}
html {
  font-size: 62.5%;
}
body {
  scroll-behavior: smooth;
}

fieldset,
img {
  border: 0 none;
}
img,
input,
a,
button,
label {
  vertical-align: middle;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
  word-break: keep-all;
}
a {
  text-decoration: none;
  color: inherit;
}
/* a:focus{outline:thin dotted; outline-offset:-1px;} */

/* 목록 및 인용 */
ol,
ul,
dl,
li {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}

/* input */
input,
textarea,
select {
  font-size: inherit;
  font-family: inherit;
  border: 1px solid #ddd;
  border-radius: 0;
  background-color: #fff;
}

input,
button,
select {
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select::-ms-expand {
  display: none;
}

button {
  border: 0;
  background: none;
  cursor: pointer; /*outline:none;*/
  overflow: hidden;
}
button:disabled {
  cursor: default;
}

input[type="text"]::-ms-clear {
  display: none;
} /*input의 x 버튼 제거 for IE */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="number"] {
  text-indent: 10px;
}
input[type="text"][readonly],
input[type="password"][readonly],
input[type="email"][readonly],
input[type="tel"][readonly],
input[type="number"][readonly] {
  background: #eee;
  color: #888;
}
input[type="password"] {
  font-family: pass;
}
// input::placeholder, textarea::placeholder{
//     color:#aaa;
// }
// input:-ms-input-placeholder, textarea:-ms-input-placeholder{
//     color:#aaa;
// }

select {
  padding-left: 10px;
  background: #fff url("/resources/images/icons/ico_selectbox.svg") no-repeat;
  background-position: bottom 50% right 10px;
  background-size: 9px;
}
select:disabled {
  background: #eee url("/resources/images/icons/ico_selectbox.svg") no-repeat;
  background-position: bottom 50% right 10px;
  color: #888;
}
textarea {
  resize: none;
  box-shadow: none;
}

body,
html {
  // -ms-overflow-style: none;
  overflow: auto;

  // &::-webkit-scrollbar {
  //   width: 4px; /* 세로축 스크롤바 길이 */
  //   height: 8px; /* 가로축 스크롤바 길이 */
  // }
  // &::-webkit-scrollbar-thumb {
  //   border-radius: 5px;
  //   background-color: black;
  // }
  // &::-webkit-scrollbar-track {
  //   background-color: red;
  // }
}

/*form*/
/* reset */
input[type="text"] {
  padding: 0 10px;
  width: 100%;
  font-size: 12px;
  line-height: normal;
  caret-color: #fff;
  color: #fff;
  height: 53px;
  border-top-width: initial;
  border-bottom-width: initial;
  border-right-width: initial;
  border-left-width: initial;
  box-sizing: border-box;
  border-top-color: initial;
  border-bottom-color: initial;
  border-right-color: initial;
  border-left-color: initial;
  text-decoration: none;
  border-style: none;
  border-image: initial;
  outline: none;
  font-family: "Noto Sans KR", "Open Sans";
  font-weight: 500;
  background: transparent;
  border-bottom: 1px solid #fff;
}

textarea {
  width: calc(100% - 26px);
  height: 144px;
  padding: 13px 13px;
  font-size: 15px;
  color: #fff;
  border: 1px solid #fff;
  background: transparent;
  letter-spacing: -1px;
  text-decoration: none;
  resize: none;
  line-height: 1.2;
}

/* croos-bowsing */
::-webkit-input-placeholder {
  font-family: "Noto Sans KR", "Open Sans";
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.2px;
  color: #fff;
  text-align: left;
}

/*Chrome,Opera,Safari*/
::-moz-placeholder {
  font-family: "Noto Sans KR", "Open Sans";
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.2px;
  color: #fff;
  text-align: left;
}

/*Firefox 19+*/
:-moz-placeholder {
  font-family: "Noto Sans KR", "Open Sans";
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.2px;
  color: #fff;
  text-align: left;
}

/*Firefox 18-*/
.ac::-webkit-input-placeholder {
  text-align: left;
}

/*Chrome,Opera,Safari*/
.ac::-moz-placeholder {
  text-align: left;
}

/*Firefox 19+*/
.ac:-mozplaceholder {
  text-align: left;
}

/*scrollbar*/
// ::-webkit-scrollbar {
//   width: 16px;
//   background-color: #fff;
// }

// ::-webkit-scrollbar-track {
//   background: transparent;
// }

// ::-webkit-scrollbar-thumb {
//   background-color: #014df9;
//   border: 4px solid #000;
// }
