@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("../fonts/notosansKr/NotoSansKR-Regular.otf");
  src: local(""),
    url("../fonts/notosansKr/NotoSansKR-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url("../fonts/notosansKr/NotoSansKR-Medium.otf"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/notosansKr/NotoSansKR-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("../fonts/notosansKr/NotoSansKR-Bold.otf");
  src: local(""),
    url("../fonts/notosansKr/NotoSansKR-Bold.otf") format("opentype");
}
