/* _typography */

/*
특수문자, 영문, 숫자

1. 특수문자 범위: U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E
2. 영문 범위: U+0041-005A(대문자), U+0061-007A(소문자)
3. 숫자 범위: U+0030-0039
전체 U+0020-007E
*/

/* noto-sans-kr-regular - latin */
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("../../fonts/notosansKr/noto-sans-kr-v25-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../../fonts/notosansKr/noto-sans-kr-v25-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../../fonts/notosansKr/noto-sans-kr-v25-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../fonts/notosansKr/noto-sans-kr-v25-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("../../fonts/notosansKr/noto-sans-kr-v25-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../../fonts/notosansKr/noto-sans-kr-v25-latin-regular.svg#NotoSansKR")
      format("svg"); /* Legacy iOS */
}
/* open-sans-italic - latin */
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("../../fonts/opensans/open-sans-v27-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../../fonts/opensans/open-sans-v27-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../fonts/opensans/open-sans-v27-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../fonts/opensans/open-sans-v27-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("../../fonts/opensans/open-sans-v27-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../../fonts/opensans/open-sans-v27-latin-regular.svg#OpenSans")
      format("svg"); /* Legacy iOS */
  unicode-range: U+0020-007E;
  /* unicode-range: U+0030-0039; */
}

/* noto-sans-kr-500 - latin */
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url("../../fonts/notosansKr/noto-sans-kr-v25-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../../fonts/notosansKr/noto-sans-kr-v25-latin-500.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../fonts/notosansKr/noto-sans-kr-v25-latin-500.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../fonts/notosansKr/noto-sans-kr-v25-latin-500.woff")
      format("woff"),
    /* Modern Browsers */
      url("../../fonts/notosansKr/noto-sans-kr-v25-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../../fonts/notosansKr/noto-sans-kr-v25-latin-500.svg#NotoSansKR")
      format("svg"); /* Legacy iOS */
}
/* open-sans-500italic - latin */
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url("../../fonts/opensans/open-sans-v27-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../../fonts/opensans/open-sans-v27-latin-500.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../fonts/opensans/open-sans-v27-latin-500.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../fonts/opensans/open-sans-v27-latin-500.woff") format("woff"),
    /* Modern Browsers */
      url("../../fonts/opensans/open-sans-v27-latin-500.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("../../fonts/opensans/open-sans-v27-latin-500.svg#OpenSans")
      format("svg"); /* Legacy iOS */
  unicode-range: U+0020-007E;
}
/* noto-sans-kr-700 - latin */
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("../../fonts/notosansKr/noto-sans-kr-v25-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../../fonts/notosansKr/noto-sans-kr-v25-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../fonts/notosansKr/noto-sans-kr-v25-latin-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../fonts/notosansKr/noto-sans-kr-v25-latin-700.woff")
      format("woff"),
    /* Modern Browsers */
      url("../../fonts/notosansKr/noto-sans-kr-v25-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../../fonts/notosansKr/noto-sans-kr-v25-latin-700.svg#NotoSansKR")
      format("svg"); /* Legacy iOS */
}
/* open-sans-700 - latin */
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("../../fonts/opensans/open-sans-v27-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../../fonts/opensans/open-sans-v27-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../fonts/opensans/open-sans-v27-latin-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../fonts/opensans/open-sans-v27-latin-700.woff") format("woff"),
    /* Modern Browsers */
      url("../../fonts/opensans/open-sans-v27-latin-700.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("../../fonts/opensans/open-sans-v27-latin-700.svg#OpenSans")
      format("svg"); /* Legacy iOS */
  unicode-range: U+0020-007E;
}

/*
  1. 한글폰트 쫘라락
  
  2. 영문폰트 쫘라락(유니코드도 같이 넣어줘야함)
  
  
  */
