/* _minxin */
$width1920: 192rem;

$color-white-1: #ffffff;
$color-blue-1: #3a53fb;

$color-black-0: #000000;
$color-black-1: #202124;

$color-grey-0: #f0f0f0;
$color-grey-1: #8b8c90;
$color-grey-2: #7a7a7c;
$color-grey-3: #c6c6c7;

$radius-btn: 0.3rem;

$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-normal: 400;

$btn--primary: #3a53fb;
